/* establishing custom variables */
:root {
  --dark: rgb(254, 217, 143);
  --light: rgb(254, 252, 212);
  --blue: rgb(202, 233, 251);
}
/* setting styles for entire website */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* styling header and establishing properties for navbar and website heading */
header {
  display: flex;
  justify-content: space-between;
  /* big struggle with setting up header, must do "justify content space between" to separate title to left
    and nav buttons to right (this only works for 2 children in parent container) */
  /* if 3 or more children in parent container (header), set header to "justify content flex end" to push 
    everything to the far right, then set margin "right: 0"on child item that you want on the left  */
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--dark);
}

/* setting navbar flex properties */
.navbar {
  display: flex;
}

/* formating for nav button size/colors etc */
.nav-button {
  padding: 40px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

/* page title formating */
.page-title {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px 15px 30px;
  margin-left: 25px;
}

/* setting transition effects */
.nav-button {
  transition: all 0.3s ease 0s;
}

/* setting text color to blue on cursor hover */
.nav-button:hover {
  color: var(--blue);
}
