:root {
  --dark: rgb(254, 217, 143);
  --light: rgb(254, 252, 212);
  --blue: rgb(202, 233, 251);
}

* {
  font-family: Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--dark);
}

.navbar {
  display: flex;
}

.nav-button {
  padding: 40px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.page-title {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px 15px 30px;
  margin-left: 25px;
}

.nav-button {
  transition: all 0.3s ease 0s;
}

.nav-button:hover {
  color: var(--blue);
}

@media screen and (max-width: 786px) {
  header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark);
  }

  .page-title {
    margin-left: 0;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-button {
    padding: 15px;
  }
}
