/* establishing custom variables */
:root {
  --dark: rgb(254, 217, 143);
  --light: rgb(254, 252, 212);
  --blue: rgb(202, 233, 251);
}

/* setting styles for entire website */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* defining parent container flex properties to align child/item text centrally, inserting background image */
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  line-height: 1.5;
  color: rgb(151, 0, 0);
  height: 250px;
}

/* defining about me parent container flex properties and spacing */
#about-me {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 7% 0;
}

#about-me h2 {
  margin: 0 6%;
}

/* formating profile picture */
#about-me img {
  display: flex;
  justify-content: space-evenly;
  border-radius: 50%;
  margin: 0 3%;
}

/* defining parent container properties for display of work cards */
.my-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

#my-work h2 {
  margin: 0 40px;
  text-align: center;
}

/* defining flex properties within work card */
.my-work-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3%;
}

.my-work-card p {
  margin: 2%;
}

/* setting work card img width */
.my-work-card img {
  width: 96%;
  height: auto;
}

/* making first work card larger than the rest */
.my-work-card:first-child {
  width: 80%;
}

/* making work cards that aren't the first, smaller */
.my-work-card:not(:first-child) {
  max-width: 44%;
  max-height: 60%;
}

/* setting opacity of project pics */
.my-work img {
  object-fit: cover;
  opacity: 0.6;
}
/* transition properties for project images */
.my-work img {
  transition: all 0.3s ease 0s;
}

/* styling transition changes to project images when cursor hovers  */
.my-work img:hover {
  border-style: solid;
  border-color: var(--blue);
  border-width: 5px;
  border-radius: 15px;
  opacity: 1;
}

/* defining contact me parent container flex properties */
#contact-me {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

#contact-me h2 {
  margin: 20px;
}

/* setting contact form */
.contact-form {
  max-width: 400px;
}

form p {
  margin: 3% 0;
}

label {
  display: block;
}

button {
  padding: 2% 3%;
  color: white;
  background-color: #960000;
  border-radius: 10px;
  cursor: pointer;
}

.text-input {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.text-input,
select {
  padding: 1%;
  outline: none;
  border: 1.2px solid #b9c6ae;
}

.text-input:hover,
.checkbox:hover,
select:hover,
button:hover {
  box-shadow: 0 0 5px #999;
}

/* The right-side border changes when the element is clicked on or tabbed into */
.text-input:focus {
  border-right-width: 5px;
}

/* The border becomes dashed when the element's placeholder text is visible */
.text-input:placeholder-shown {
  border-style: dashed;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-row select {
  flex: 1 0 0;
  margin-left: 2%;
}

.flex-row input {
  margin-right: 2%;
}

#resume {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 4%;
  line-height: 2em;
}

/* when screen size 786px and less, the following styling is applied*/
@media screen and (max-width: 786px) {
  /* header and footer formating to purple and column display*/
  header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-purle);
  }

  footer {
    background-color: var(--dark-purle);
  }
  /* removing left margin on title, centering page title */
  .page-title {
    margin-left: 0;
  }
  /* navbar changed to column */
  .navbar {
    flex-direction: column;
    text-align: center;
  }
  /* nav button made smaller */
  .nav-button {
    padding: 15px;
  }
  /* changing about me from row to column flexbox display */
  #about-me {
    flex-direction: column;
    padding: 0;
    margin: 20px;
  }
  /* centering and spacing about me title */
  #about-me h2 {
    text-align: center;
    margin: 20px;
  }
  /* positioning profile pic */
  #about-me img {
    margin-top: 5%;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 5%;
  }
  /* bringing contact me p away from media screen edge */
  #contact-me p {
    margin: 20px;
  }
  /* ensuring work cards that arent the first, stay smaller */
  .my-work-card:not(:first-child) {
    max-width: 90%;
  }

  .my-work-card:first-child {
    width: 90%;
  }
}
