:root {
  --dark: rgb(254, 217, 143);
  --light: rgb(254, 252, 212);
  --blue: rgb(202, 233, 251);
}

* {
  font-family: Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--dark);
}

.navbar {
  display: flex;
}

.nav-button {
  padding: 40px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.page-title {
  color: rgb(254, 217, 143);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px 15px 30px;
  margin-left: 25px;
}

.nav-button {
  transition: all 0.3s ease 0s;
}

.nav-button:hover {
  color: var(--blue);
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  line-height: 1.5;
  color: black;
  height: 250px;
  background-color: blanchedalmond;
}

#about-me {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 7% 0;
}

#about-me h2 {
  margin: 0 6%;
}

/* Profile Pic */
#about-me img {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10%;
  margin: 0 3%;
}

.my-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

#my-work h2 {
  margin: 0 40px;
  text-align: center;
}

.my-work-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3%;
}

.my-work-card p {
  margin: 2%;
}

.my-work-card img {
  width: 96%;
  height: auto;
}

.my-work-card:first-child {
  width: 80%;
}

.my-work-card:not(:first-child) {
  max-width: 44%;
  max-height: 60%;
}

.my-work img {
  object-fit: cover;
  opacity: 0.6;
}

.my-work img {
  transition: all 0.3s ease 0s;
}

.my-work img:hover {
  border-style: solid;
  border-color: var(--blue);
  border-width: 5px;
  border-radius: 15px;
  opacity: 1;
}

#contact-me {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

#contact-me h2 {
  margin: 20px;
}

.contact-form {
  max-width: 400px;
}

form p {
  margin: 3% 0;
}

label {
  display: block;
}

button {
  padding: 2% 3%;
  color: white;
  background-color: var(--blue);
  border-radius: 10px;
  cursor: pointer;
}

.text-input {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.text-input,
select {
  padding: 1%;
  outline: none;
  border: 1.2px solid #7d7d7c;
}

.text-input:hover,
.checkbox:hover,
select:hover,
button:hover {
  box-shadow: 0 0 5px #7d7d7c;
}

.text-input:focus {
  border-right-width: 5px;
}

.text-input:placeholder-shown {
  border-style: dashed;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-row select {
  flex: 1 0 0;
  margin-left: 2%;
}

.flex-row input {
  margin-right: 2%;
}

footer {
  background-color: var(--dark);
  width: auto;
}

footer p {
  text-align: center;
  font-weight: 400;
  color: white;
  margin: 40px;
}

@media screen and (max-width: 786px) {
  header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark);
  }

  footer {
    background-color: var(--dark);
  }

  .page-title {
    margin-left: 0;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-button {
    padding: 15px;
  }

  #about-me {
    flex-direction: column;
    padding: 0;
    margin: 20px;
  }

  #about-me h2 {
    text-align: center;
    margin: 20px;
  }

  #about-me img {
    margin-top: 5%;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 5%;
  }

  #contact-me p {
    margin: 20px;
  }

  .my-work-card:not(:first-child) {
    max-width: 90%;
  }

  .my-work-card:first-child {
    width: 90%;
  }
}
